/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

/*************** header *********************/

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.menu ul {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-top: 10px;
  list-style: none;
}
.menu a {
  text-decoration: none;
}

.menu li:hover {
  border-bottom: 1px solid;
}

.logo {
  width: 30px;
}

/*************** Forside *********************/

.overskrift {
  margin-top: 7rem;
}
.FOLIO {
  text-align: right;
  margin-top: -5rem;
}

.portfolio-layout {
  gap: 20px;
  position: relative;
}

.projekter {
  position: absolute;
}

.navn {
  top: 32%;
  left: 63%;
}

.animation {
  top: -10%;
  left: 14%;
}

.krusedulle_animation {
  top: -15%;
  left: 10%;
  width: 130px;
  height: auto;
}

.web {
  top: 103%;
  left: 24%;
}

.krusedulle_web {
  top: 100%;
  left: 19%;
  width: 80px;
  height: auto;
}
.uxui {
  top: 130%;
  left: 40%;
}

.krusedulle_uxui {
  top: 126%;
  left: 34%;
  width: 100px;
  height: auto;
}
.indhold {
  top: 103%;
  right: 10%;
}

.krusedulle_indhold {
  top: 97%;
  left: 71%;
  width: 120px;
  height: auto;
}

.knap_index {
  width: 40px;
  position: absolute;
  bottom: 25px; /* afstand fra bunden */
  left: 50%;
  transform: translateX(-50%); /*flytter elementet 50% af dets egen bredde mod venstre.*/
}

/*************** projketer *********************/

.billede-desktop {
  display: none;
}

.tryk_her_krusedulle {
  position: absolute;
  top: 12%;
  left: 10%;
  width: 120px;
}
.tryk_her_streg {
  position: absolute;
  top: 17%;
  left: 35%;
  width: 30px;
}

.tryk_her_tekst {
  position: absolute;
  top: 14%;
  left: 16%;
}

.mapper {
  position: relative;
  margin-top: 7rem;
}

#mappe01,
#mappe02,
#mappe03,
#mappe04 {
  position: absolute;
  top: 100%;
  left: 10%;
  width: 80%;
}
.mappe-indhold {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.animation_tekst {
  color: #fff6d2;
}
.animation_link {
  color: #fff6d2;
  position: absolute;
  margin-top: 4rem;
  z-index: 1;
}

.link {
  position: absolute;
  margin-top: 4rem;
  z-index: 1;
}

.krusedulle {
  width: 120px;
}

.frem {
  z-index: 10;
}

.knapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  gap: 2.5rem;
  position: absolute;
  top: 22.5%;
  right: 13%;
  z-index: 10;
  cursor: pointer;
  color: #212842;
}

#knap03 {
  color: #fff6d2;
}

/*************** animation *********************/
.grid_8-1 {
  display: grid;
  grid-template-columns: 8fr 1fr;
  gap: 20px;
  align-items: center;
  margin: 3rem;
  margin-bottom: 5rem;
}
.mappe {
  width: 280px;
  justify-self: center;
}
.mappe3_tekst {
  position: absolute;
  top: 22.5%;
  left: 14%;
  color: #fff6d2;
}

.overskift_temaer {
  font-weight: 500;
  padding: 1rem;
}

.knap_skift {
  justify-self: center;
  width: 40px;
}

.tilbage_krusedulle {
  width: 100px;
  position: absolute;
  left: 75%;
}
.tilbage_tekst {
  position: absolute;
  margin-left: 22.5rem;
  margin-top: 0.7rem;
}

.tema_foto {
  padding: 20px;
}

/*************** ux/ui *********************/
.mappe2_tekst {
  position: absolute;
  top: 22.5%;
  left: 28%;
}

/*************** web *********************/
.mappe1_tekst {
  position: absolute;
  top: 22.5%;
  left: 32%;
}

/*************** indhold *********************/
.mappe4_tekst {
  position: absolute;
  top: 22.5%;
  left: 21%;
}

/*************** om mig *********************/

.grid_2-1-2 {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  margin-top: 1rem;
}

.foto {
  grid-column: 1/3;
  grid-row: 2/3;
  position: relative;
}

.mig {
  position: absolute;
  width: 235px;
  top: -55%;
  left: -2%;
}

.krusedulle_mig {
  position: absolute;
  width: 190px;
  top: -40%;
  left: 5%;
}

.kvittering {
  grid-column: 2/4;
  grid-row: 1/3;
  width: 250px;
  position: relative;
}

.overskrift_kvittering {
  position: absolute;
  top: 3%;
  left: 7%;
  font-size: 1.1rem;
}

.tekst_kvittering {
  position: absolute;
  top: 20%;
  left: 7%;
}
.tekst_kvittering1 {
  margin-bottom: 1rem;
}

@media (min-width: 750px) {
  /*************** projekter *********************/

  .billede-mobil {
    display: none;
  }
  .billede-desktop {
    display: flex;
    justify-content: center; /* horisontal */
    align-items: center; /* vertikal */
  }

  #mappe01 {
    left: 23%;
    width: 55%;
  }

  #mappe02 {
    left: 23%;
    width: 55%;
  }

  #mappe03 {
    left: 23%;
    width: 55%;
  }

  #mappe04 {
    left: 23%;
    width: 55%;
  }

  .knapper {
    gap: 6.5rem;
    top: 21.2%;
    right: 23.5%;
  }

  .font_size {
    font-size: 1.5rem;
  }

  .tryk_her_krusedulle {
    left: 32%;
  }
  .tryk_her_streg {
    left: 40%;
  }

  .tryk_her_tekst {
    left: 34%;
  }

  /* viewport width - Her vokser marginerne automatisk, når skærmen bliver bredere.
  32% af skærmbredden */
  .index {
    margin-left: 32vw;
    margin-right: 32vw;
  }

  .knap_index {
    bottom: 100px;
  }

  /*************** temaere *********************/

  .grid_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .grid_8-1 {
    position: fixed;
    top: 30%;
  }
  .mappe_beskrivelse {
    grid-column: 2/3; /* flyt til højre kolonne */
  }

  .temaere {
    margin-left: 10rem;
    margin-right: 10rem;
  }

  .mappe1_tekst {
    top: 30%;
    left: 26%;
  }

  .mappe2_tekst {
    top: 30%;
    left: 22%;
  }

  .mappe3_tekst {
    top: 30%;
    left: 5.8%;
  }
  .mappe4_tekst {
    top: 30%;
    left: 14%;
  }

  .tilbage_krusedulle {
    margin-left: 4.5rem;
  }
  .tilbage_tekst {
    margin-left: 63rem;
    margin-top: 0.6rem;
  }

  .tema_foto {
    width: 600px;
    display: block;
    margin: 0 auto;
  }

  /*************** om mig *********************/
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    margin-right: 2rem;
  }

  .kvittering_foto {
    width: 300px;
  }

  .mig {
    position: absolute;
    width: 270px;
    top: -57%;
    left: -15%;
  }

  .krusedulle_mig {
    position: absolute;
    width: 220px;
    top: -45%;
    left: -5%;
  }
}
