/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

/*************** header *********************/

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.menu ul {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-top: 10px;
  list-style: none;
}
.menu a {
  text-decoration: none;
}

.menu li:hover {
  border-bottom: 1px solid;
}

.logo {
  width: 30px;
}

/*************** Forside *********************/

.overskrift {
  margin-top: 4rem;
}
.FOLIO {
  text-align: right;
  margin-top: -6rem;
}

.portfolio-layout {
  gap: 20px;
  position: relative;
}

.navn {
  position: absolute;
  top: 25%;
  left: 62%;
}

.emner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.knap_index {
  display: flex;
  justify-content: center;
  width: 40px;
  position: absolute;
  left: 48%;
  margin-top: 4rem;

  animation-name: pulse_kf;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

/*************** projketer *********************/

.billede-desktop {
  display: none;
}

.tryk_her_krusedulle {
  position: absolute;
  top: 10%;
  left: 10.5%;
  width: 150px;
}
.tryk_her_streg {
  position: absolute;
  top: 18%;
  left: 35%;
  width: 30px;
}

.tryk_her_tekst {
  position: absolute;
  top: 13%;
  left: 16%;
}

.mapper {
  position: relative;
  margin-top: 7rem;
}

#mappe01,
#mappe02,
#mappe03,
#mappe04 {
  position: absolute;
  top: 100%;
  left: 10%;
  width: 80%;
}

#knap01:hover,
#knap02:hover,
#knap03:hover,
#knap04:hover {
  transform: scale(1.3);
}

.mappe-indhold {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.animation_tekst {
  color: #fff6d2;
}
.animation_link {
  color: #fff6d2;
  position: absolute;
  margin-top: 4rem;
  z-index: 1;
}

.link {
  position: absolute;
  margin-top: 4rem;
  z-index: 1;
}

.krusedulle {
  width: 120px;

  animation-name: pulse_kf;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

.frem {
  z-index: 10;
}

.knapper {
  display: flex;
  flex-direction: row-reverse;
  gap: 2.5rem;
  position: absolute;
  top: 23%;
  right: 12.5%;
  z-index: 10;
  cursor: pointer;
  color: #212842;
}

#knap03 {
  color: #fff6d2;
}

.font_size {
  font-size: 1.1rem;
}

body {
  margin-bottom: 4rem;
}

/*************** projekt individuelle sider *********************/
.grid_8-1 {
  display: grid;
  grid-template-columns: 8fr 1fr;
  gap: 20px;
  align-items: center;
  margin: 3rem;
  margin-bottom: 5rem;
}
.mappe {
  width: 280px;
  justify-self: center;
}

.col {
  position: relative;
}
.mappe1_tekst {
  position: absolute;
  top: 33%;
  left: 30%;
}

.mappe2_tekst {
  position: absolute;
  top: 33%;
  left: 25%;
}
.mappe4_tekst {
  position: absolute;
  top: 33%;
  left: 14%;
}
.mappe3_tekst {
  color: #fff6d2;
  position: absolute;
  top: 33%;
  left: 6%;
}

.overskrift_temaer {
  font-weight: 500;
  padding: 1rem;
  margin-bottom: -1rem;
}

.knap_skift {
  justify-self: center;
  width: 40px;
}

.tilbage_krusedulle {
  width: 100px;
  position: absolute;
  left: 75%;

  animation-name: pulse_kf;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

@keyframes pulse_kf {
  100% {
    scale: 1.2;
  }
}

.tilbage_tekst {
  position: absolute;
  margin-left: 22.5rem;
  margin-top: 0.7rem;
}

.tema_foto {
  padding: 20px;
}

.container {
  position: relative;
}

/* Bottom right text */
.text-block {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #fff6d2;
  padding-left: 20px;
  padding-right: 20px;

  animation-name: pulse_kf;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

/*************** om mig *********************/

.grid_2-1-2 {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}

.foto {
  grid-column: 1/3;
  grid-row: 2/3;
  position: relative;
}

.mig {
  position: absolute;
  width: 235px;
  top: -55%;
  left: -2%;
}

.krusedulle_mig {
  position: absolute;
  width: 190px;
  top: -40%;
  left: 5%;
}

.kvittering {
  grid-column: 2/4;
  grid-row: 1/3;
  width: 250px;
  position: relative;
}

.overskrift_kvittering {
  position: absolute;
  top: 3%;
  left: 7%;
  font-size: 1.1rem;
}

.tekst_kvittering {
  position: absolute;
  top: 20%;
  left: 7%;
}
.tekst_kvittering1 {
  margin-bottom: 1rem;
}

@media (min-width: 750px) {
  /*************** forside *********************/
  /* viewport width - Her vokser marginerne automatisk, når skærmen bliver bredere.
  32% af skærmbredden */
  .index {
    margin-left: 28vw;
    margin-right: 28vw;
  }

  /*************** projekter *********************/

  body {
    margin-bottom: 5rem;
  }

  .billede-mobil {
    display: none;
  }
  .billede-desktop {
    display: flex;
    justify-content: center; /* horisontal */
    align-items: center; /* vertikal */
  }

  #mappe01,
  #mappe02,
  #mappe03,
  #mappe04 {
    left: 23%;
    width: 55%;
  }

  .knapper {
    gap: 6.5rem;
    top: 21.2%;
    right: 23.5%;
  }

  .font_size {
    font-size: 1.5rem;
  }

  .tryk_her_krusedulle {
    width: 12%;
    left: 30%;
    top: 8%;
  }
  .tryk_her_streg {
    left: 40%;
  }

  .tryk_her_tekst {
    font-size: 1.1rem;
    left: 32%;
    top: 11%;
  }

  /*************** temaere *********************/

  .grid_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .grid_8-1 {
    position: fixed;
    top: 30%;
  }
  .mappe_beskrivelse {
    grid-column: 2/3; /* flyt til højre kolonne */
  }

  .temaere {
    margin-left: 10rem;
    margin-right: 10rem;
  }

  .tilbage_krusedulle {
    margin-left: 4.5rem;
  }
  .tilbage_tekst {
    margin-left: 63rem;
    margin-top: 0.6rem;
  }

  .tema_foto {
    width: 600px;
    display: block;
    margin: 0 auto;
  }

  /*************** om mig *********************/
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    margin-right: 2rem;
    margin-top: 3rem;
  }

  .kvittering_foto {
    width: 300px;
  }

  .mig {
    position: absolute;
    width: 270px;
    top: -59%;
    left: -15%;
  }

  .tekst_kvittering {
    top: 18%;
  }

  .krusedulle_mig {
    position: absolute;
    width: 220px;
    top: -48%;
    left: -6%;
  }
}
